* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', sans-serif;
}

.audiowide-regular {
	font-family: 'Audiowide', sans-serif;
	font-weight: 400;
	font-style: normal;
}


  body{
    font-family:"Audiowide", sans-serif;
    
  }
  .swiper {
    width: 100%;
    height: 300px; 
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .info {
    text-align: center;
    margin-top: 20px;
  }
  .header_tittle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
    font-size: 25px;
  }
  .tittle {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 83px;
  }

  .button{
    display: flex;
    width: 218px;
    height: 47px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:#FFFFFF ;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

.logo {
	display: inline;
}
.search__str {
	display: inline;
}
.header_tittle {
	font-size: 24px;
	font-weight: bold;
}

li {
	list-style: none;
	display: inline;
}

